*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Silkscreen", sans-serif;
}

:root {
    --bg-primary: hsl(216, 100%, 50%);
    --bg-secondary: hwb(170 0% 0%);
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
    --icons-bg-primary: tomato;
    --icons-bg-secondary: #777777;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    border: 1px solid aqua;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    padding: 32px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.text-center {
    text-align: center;
}

.tittle {
    font-size: 2em;
}

.icons {
    margin-top: 8px;
    font-size: 32px;
    color: var(--icons-bg-primary)
}

.desc {
    margin-top: 8px;
    font-size: .8em;
}

.btn {
    margin-top: 16px;
    padding: 7px;
    background-color: var(--bg-secondary);
    cursor: pointer;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 476px) {
    .card {
        width: 95%;
    }
}